.container {
  display: flex;
  width: 900px;
  border-radius: 17px;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
  cursor: pointer;
}

.container:hover {
  box-shadow: 5px 5px 10px var(--accent);
}

.img {
  height: auto;
  width: 100%;
}

.bottom {
  width: 100%;
  display: flex;
}

.type {
  color: var(--secondary);
  font-size: 22px;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.description {
  display: flex;
  margin: auto;
  align-self: center;
}


.left {
  align-self: center;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
}