.container {
  display: flex;
  width: 900px;
  border-radius: 17px;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
  cursor: pointer;
}

.container:hover {
  box-shadow: 2px 5px 10px 4px var(--accent);
}

.img {
  height: auto;
  width: 100%;
  border-bottom-left-radius: 17px;
  border-top-left-radius: 17px;
}

.bottom {
  width: 100%;
  display: flex;
}

.type {
  color: var(--secondary);
  font-size: 22px;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.description {
  display: flex;
  margin: auto;
  align-self: center;
}

.left {
  align-self: center;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
}

@media (max-width: 1000px) {
  .container {
    flex-wrap: wrap;
    margin: auto;
  }

  .img {
    height: 100%;
    width: 100%;
    margin: 10px;
  }
  .type,
  .left {
    text-align: center;
    margin: auto;
  }

  .description {
    margin: 10px;
    text-align: justify;
  }
}
