* {
  background-color: var(--background);
  font-family: Ubuntu;
  
}
@font-face {
  font-family: Ubuntu;
  src: url(../fonts/Ubuntu-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Ubuntu;
  src: url(../fonts/Ubuntu-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}

:root {
  --text: #dedede;
  --background: #050505;
  --primary: #53d49c;
  --secondary: #afa18c;
  --accent: #88af9f;
}
