.heading {
    color: var(--primary);
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1.25rem 1.75rem 0 1.75rem;
    align-items: center;
}

.navlinks {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    cursor: pointer;
}

.navlink {
    color: white;
    font-size: 18px;
    cursor: pointer;
    text-decoration: underline black;
}

.navlink:hover {
    color: var(--primary);

}

.activenav {
    color: var(--primary);
    font-size: 18px;
    cursor: pointer;
    text-decoration: underline #53d49c86;
    text-decoration-thickness: 3px;
}

.body {
    margin: 0 3rem 0 3rem;
    color: var(--primary);
    padding-top: 1rem;
}

.para {
    font-size: 18px;
    color: var(--text);
}

