.heading {
    color: var(--primary);
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem 0 2rem;
    align-items: center;
}

.navlinks {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    cursor: pointer;
}

.navlink {
    color: white;
}

.navlink:hover {
    color: var(--primary);
}
